@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  scroll-behavior: smooth !important;
  width: 100% !important;
  overflow-x: hidden !important;
  max-width: 100% !important;
}

section {
  width: 95vw;
  max-width: 1440px;
  margin: 0 auto;
}
